[submodule "CppHttpClient"]
	path = CppHttpClient
	url = https://github.com/igelfiend/CppHttpClient
[submodule "CppHttpServer"]
	path = CppHttpServer
	url = https://github.com/igelfiend/CppHttpServer
